@using OCC.UI.Webhost.Models;

@model Announcement

@{
    ViewBag.Title = "Create Announcement";
}

@*
<div>
    @Html.ActionLink("[back]", "Index")
</div>
*@

<div class="title">create announcement | @Html.ActionLink("back", "Index")</div>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.EventID)

    <div class="field-name">
        @Html.LabelFor(model => model.Title)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)
    </div>

    <div class="field-name">
        @Html.LabelFor(model => model.Content)
    </div>
    <div class="editor-multiline-field">
        @Html.EditorFor(model => model.Content)
        @Html.ValidationMessageFor(model => model.Content)
    </div>

    <div class="field-name">
        @Html.LabelFor(model => model.PublishDate)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.PublishDate)
        @Html.ValidationMessageFor(model => model.PublishDate)
    </div>

    <br />
    
    <div>
        <input type="submit" value="Create" class="action-button"/>
    </div>
    
    <br />
}

<script type="text/javascript">
    $("input:text:visible:first").focus();
</script>