@using CC.UI.Webhost.Models;

@model Speaker

@{
    ViewBag.Title = "Speaker";
}

<div class="title">speaker</div>

<div class="field-value">
<div style="width:250px">
<img style="max-width: 100%;" src="@ViewData.Model.ImageUrl" alt="@ViewData.Model.FullName" />
</div>
</div>


<div class="field-name">name</div>
<div class="field-value">@ViewData.Model.FullName</div>

<div class="field-name">title</div>
<div class="field-value">@ViewData.Model.Title</div>

@*
<div class="field-name">e-mail</div>
<div class="field-value">@ViewData.Model.Email</div>
*@

<div class="field-name">twitter</div>
<div class="field-value">
    <a target="_blank" href="http://twitter.com/@ViewData.Model.Twitter.Replace("@",string.Empty)" target="newwindow">@ViewData.Model.Twitter.Replace("@",string.Empty)</a>
</div>

<div class="field-name">website</div>
<div class="field-value">
    <a href="http://@ViewData.Model.Website.Replace("http","").Replace(":","").Replace("//","")" target="newwindow">@ViewData.Model.Website</a>
</div>

<div class="field-name">blog</div>
<div class="field-value">
    <a href="http://@ViewData.Model.Blog.Replace("http","").Replace(":","").Replace("//","")" target="newwindow">@ViewData.Model.Blog</a>
</div>

<div class="field-name">approved sessions</div>

@foreach (Session session in ViewData.Model.Sessions)
{
    <div class="field-value">
        @Html.ActionLink(session.Name, "Details", "Session", new { id = session.ID }, null)  
    </div>
}