@model OCC.UI.Webhost.Models.Event

@{
    ViewBag.Title = "Event Details";
}

<div class="title">event</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
    @Html.ActionLink("Back", "Index")
</div>

<div class="field-name">@Html.LabelFor(model => model.Name)</div>
<div class="field-value">@Html.DisplayFor(model => model.Name)</div>

<div class="field-name">@Html.LabelFor(model => model.Description)</div>
<div class="field-value">@Html.DisplayFor(model => model.Description)</div>

<div class="field-name">@Html.LabelFor(model => model.TwitterHashTag)</div>
<div class="field-value">@Html.DisplayFor(model => model.TwitterHashTag)</div>

<div class="field-name">@Html.LabelFor(model => model.StartTime)</div>
<div class="field-value">@Html.DisplayFor(model => model.StartTime)</div>

<div class="field-name">@Html.LabelFor(model => model.EndTime)</div>
<div class="field-value">@Html.DisplayFor(model => model.EndTime)</div>

<div class="field-name">@Html.LabelFor(model => model.Location)</div>
<div class="field-value">@Html.DisplayFor(model => model.Location)</div>

<div class="field-name">@Html.LabelFor(model => model.Address1)</div>
<div class="field-value">@Html.DisplayFor(model => model.Address1)</div>

<div class="field-name">@Html.LabelFor(model => model.Address2)</div>
<div class="field-value">@Html.DisplayFor(model => model.Address2)</div>

<div class="field-name">@Html.LabelFor(model => model.City)</div>
<div class="field-value">@Html.DisplayFor(model => model.City)</div>

<div class="field-name">@Html.LabelFor(model => model.State)</div>
<div class="field-value">@Html.DisplayFor(model => model.State)</div>

<div class="field-name">@Html.LabelFor(model => model.Zip)</div>
<div class="field-value">@Html.DisplayFor(model => model.Zip)</div>

<div class="field-name">@Html.LabelFor(model => model.IsDefault)</div>
<div class="field-value">@Html.DisplayFor(model => model.IsDefault)</div>

<div class="field-name">@Html.LabelFor(model => model.IsSponsorRegistrationOpen)</div>
<div class="field-value">@Html.DisplayFor(model => model.IsSponsorRegistrationOpen)</div>

<div class="field-name">@Html.LabelFor(model => model.IsSpeakerRegistrationOpen)</div>
<div class="field-value">@Html.DisplayFor(model => model.IsSpeakerRegistrationOpen)</div>

<div class="field-name">@Html.LabelFor(model => model.IsAttendeeRegistrationOpen)</div>
<div class="field-value">@Html.DisplayFor(model => model.IsAttendeeRegistrationOpen)</div>

<div class="field-name">@Html.LabelFor(model => model.IsVolunteerRegistrationOpen)</div>
<div class="field-value">@Html.DisplayFor(model => model.IsVolunteerRegistrationOpen)</div>