@{
    ViewBag.Title = "Admin";
}

<div class="title">admin</div>

<div>@Html.ActionLink("Administrators", "Index", "Administrator")</div>

<div>@Html.ActionLink("Events", "Index", "Event")</div>

<div>@Html.ActionLink("Announcements", "Index", "Announcement")</div>

<div>@Html.ActionLink("Sponsors", "Index", "Sponsor")</div>

<div>@Html.ActionLink("Tracks", "Index", "Track")</div>

<div>@Html.ActionLink("Timeslots", "Index", "Timeslot")</div>

<div>@Html.ActionLink("Schedule", "Index", "Schedule")</div>

<div>@Html.ActionLink("Volunteer Tasks", "Index", "Volunteer")</div>

<div>@Html.ActionLink("Mailing Lists", "Index", "MailingList")</div>

<div>@Html.ActionLink("Tags", "Index", "Tag")</div>