@model CC.UI.Webhost.Models.Sponsor

@{
    ViewBag.Title = "Sponsor";
}

<div class="title">@Html.DisplayFor(model => model.Name)</div>
<div class="field-name">@Html.LabelFor(model => model.SponsorshipLevel)</div>
<div class="field-value">@Html.DisplayFor(model => model.SponsorshipLevel)</div>

<div class="field-value">
    <div style="width: 250px">
        <a href="@Model.WebsiteUrl" target="_blank">
            <img style="max-width: 100%;" src="@Model.Logo" alt="@Model.Name" />
        </a>
    </div>
</div>

<div class="field-value"><a href="@Model.WebsiteUrl" target="_blank">@Html.DisplayFor(model => model.WebsiteUrl)</a></div>

