@using OCC.UI.Webhost.Models
@model MetroTileViewModel
           
<div class="doubleTile @Model.TileBackgroundCssClass">
    @if(!string.IsNullOrEmpty(Model.TileLinkActionName) && Model.TileDisplayName != "Sponsors")
    {
        <a href="@Url.Action(Model.TileLinkActionName, Model.TileLinkControllerName)" > </a>
    }
    else if(@Model.MetroTileIcons.Count > 0)
    {
       <a href="@Model.MetroTileIcons[0].AnchorTagUri"></a> 
    }
    <div id="outerTileContent" class="outerDoubleTileContent">
        <div id="middleTileContent" class="middleDoubleTileContent">
            <div id="innerTileContent" class="innerSingleTileContent">
                @{ IList<MetroTileImage> iconList = Model.MetroTileIcons; }
                @foreach(MetroTileImage t in iconList)
                {
                    if(t == iconList[0])
                    {
                        <a href="@t.AnchorTagUri" target="_blank">@Html.SponsorImageTag(t,  "sponsorImageVisible")</a>
                    }
                    else
                    {
                        <a href="@t.AnchorTagUri" target="_blank">@Html.SponsorImageTag(t, "imageHidden")</a>
                    }
                }
                @if(iconList.Count < 1)
                {
                    <a href="@Url.Action(Model.TileLinkActionName, Model.TileLinkControllerName)">@Html.ImageTag(Model.DefaultTileImage, "sponsorImageVisible")</a>
                }
            </div>
            <h2>@Model.TileNotificationMessage</h2>
        </div>
    </div>
    <div class="tileFooter">
        <div class="labelLowerLeft" style="font-family: Verdana; font-size: 14px;"><a href="@Url.Action(Model.TileLinkActionName, Model.TileLinkControllerName)" style="color: White">@Model.TileDisplayName</a></div>
    </div>
    
</div>

