@using OCC.UI.Webhost.Models;

@model List<Session>

@{
    ViewBag.Title = "My Agenda";
}

<div class="title">my agenda | @Html.ActionLink("agenda", "Agenda")</div>

<p><strong>Note:&nbsp;</strong>Print this page out for your own convenience</p>
<p><strong>Note:&nbsp;</strong>You can now add multiple sessions to one timeslot so you can have backups</p>

<br/>
<br/>

@if (ViewData.Model.Count > 0)
{
    
<table>
    <tr>
        <td>Time</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>Session</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>Speaker</td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>Remove</td>
    </tr>

    @foreach (var session in ViewData.Model)
    {
        <tr>
            <td nowrap="nowrap">
                <div style="font-size: small">@session.StartTime - @session.EndTime</div>
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>
                @Html.ActionLink(session.Name, "Details", "Session", new {id = session.ID}, null)
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>
                @Html.ActionLink(session.Speaker, "Details", "Speaker", new {id = session.SpeakerID}, null)
            </td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td>
                @Html.ActionLink("X", "RemoveFromMyAgenda", "Home", new { id = session.ID }, null)
            </td>
        </tr>
    }

</table>

}

<br />

<div class="title">Common Agenda:</div>
<div>
7:30 am : Registration opens<br />
8:00 am : Announcements, Welcome<br/>
8:30 am : Morning Sessions<br />
12:00 pm : Lunch<br/>
1:00 pm : Afternoon Sessions<br />
4:45 pm: Closing Remarks & Raffle<br />
</div>
